@import './../utility/variables.scss';
@import './../utility/mixins.scss';

.container {
    display: grid;
    grid-template-rows: auto 30vh auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "stats"
        "heading"
        "form";
    row-gap: $g-space-two;

    @include tablet {
        display: block;
        @include space-children($g-space-one);
    }

}

.heading {
    grid-area: heading;
    align-self: end;

    @include tablet {
        @include space-children($g-space-half);
    }
}

.stats {
    grid-area: stats;
    display: flex;
    justify-content: space-between;
    border-radius: $g-border-radius;

    @include tablet {
        display: block;
    }
}

.form {
    grid-area: form;
    @include space-children($g-space-one);
}