@import './../utility/variables.scss';
@import './../utility/mixins.scss';


.main {
    @include heading-1;
    letter-spacing: 2px;
    color: $g-color-text;
}

.small {
    @include heading-5;
    font-weight: $g-font-weight-bold;
}

.inline {
    display: inline-block;
}