@import './../utility/variables.scss';
@import './../utility/mixins.scss';

.main {
    @include heading-1;
    // color: $g-color-neutral-light;
    letter-spacing: 2px;
}

.small {
    @include heading-5;
    font-weight: $g-font-weight-bold;
}

.inline {
    display: inline-block;
}