$g-color-neutral-light: rgba(255, 255, 255, .9);
$g-color-neutral: #ccc;
$g-color-neutral-dark: #222;

$g-font-family-text: 'Oswald',
sans-serif;
$g-font-family-heading: 'Oswald',
sans-serif;

$g-line-height-text: 1.25;
$g-line-height-heading: 1.25;
$g-font-weight-bold: 700;
$g-font-weight-default: 400;

$g-breakpoint-mobile: 360px;
$g-breakpoint-tablet: 768px;
$g-breakpoint-desktop: 1024px;

$g-space-quarter: .25rem;
$g-space-half: .5rem;
$g-space-one: 1rem;
$g-space-one-and-half: 1.5rem;
$g-space-two: 2rem;
$g-space-three: 3rem;

$g-focus-ring: 0 0 0 1px #000;

$g-border-radius: .5rem;